@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,400&display=swap');

body {
    font-family: 'Poppins', sans-serif !important;

}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background-image: linear-gradient(#06beb6, #48b1bf) !important;

}

body::-webkit-scrollbar-thumb {
    background: linear-gradient(to left, #42275a 0%, #330867 120%) !important;

}

#heading {
    background-image: linear-gradient(#06beb6, #48b1bf) !important;
}

#headinginner {
    justify-content: space-between;
    display: flex;
}

#heading h1 {
    background: linear-gradient(to left, #42275a 0%, #330867 120%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#mode button {
    margin: 5px !important;
}

#homeimage {
    display: flex;
    justify-content: center;
    background: transparent !important;
}
#home2image {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
thead,
tbody,
tfoot,
tr,
td,
th {
    border-style: hidden!important;
}

.social-footer {
    padding: 1rem;
    background: #8a8a8a;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.social-footer .social-footer-icons li:last-of-type {
    margin-right: 0;
}

.social-footer-icons .fa {
    font-size: 1.3rem;
    color: #330867;}

.social-footer .social-footer-icons .fa:hover {
    color: #4a4a4a;
    transition: color 0.3s ease-in;
}

.menusimple
{
display: flex;
    justify-content: space-evenly;
    list-style: none;

}
.social-footer-icons .fa:hover
{
    color: orangered;
}
