@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap');
*
{
    margin: 0;
    font-family: 'Poppins', sans-serif;

    padding: 0;
    box-sizing: border-box;
}
body
{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right,#3f5efb,#fc4666);
    margin: auto;
}
form
{
    width: 25rem;
    height: 28rem;
    display: flex;
    flex-direction: column;
    background: rgba(255,255,255,0.06);
    box-shadow: 0 8px 32px 0 rgba(31,38,135,.37);
    border-radius: 30px;
    border-left: 2px solid rgba(255,255,255,.3);
    border-bottom: 2px solid rgba(255,255,255,.3);
    padding: 2rem;

}
form:before
{
    content: "";
    position: absolute;
   bottom: 7%;
   right: 30%;
    width: 150px;
    height: 150px;
    background: magenta;
    border-radius: 50%;
    z-index: -2;
    opacity: .9;

}
form::after
{
    content: "";
    position: absolute;
    top: 10%;
    left: 32%;
    width: 100px;
    height:100px;
    background: magenta;
    border-radius: 50%;
    z-index: -1;
    opacity: .8;

}

h1
{
    font-size: 50px;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0,0,0,.2);
    letter-spacing: 3px;
    margin-bottom:5% ;
    opacity: .7;
}
.user
{
    height: 5rem;
    margin-bottom: 2rem;

}
.password
{
    height: 5rem;
    margin-bottom: 2rem;
}
input
{
    border: none;
    outline: none;
    background: none;
    color: whitesmoke;
    font-size: 18px;
    margin: 0 10px;
    box-shadow: 10px 20px 25px rgb(0,0,0,.1);
}

.user i,.password i
{
    color: #fc4666;
   font-size: 5rem;
}
::placeholder
{
    color: white;
}
button
{
    width: 45%;
    margin-top: 10px;
    height: 5vh;
    border-radius: 5px;
    border-color:transparent;
    background: transparent;
    box-shadow: 10px 20px 25px rgb(0,0,0,.2);
    color:white;
    font-weight: 500;
    font-size: 20px;
    border-left: 2px solid rgba(255,255,255,.3);
    border-top: 2px solid rgba(255,255,255,.3);
cursor: pointer;
}
.login:hover
{
    background: #3f5efb;
}
a
{
text-decoration: none;
    color: white;
}
small
{
    visibility: hidden;
    color: white;
    left: 0;
    top: 0;
}
.user.error small
{
    visibility: visible;
}

